@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

/*Imagen - Hero*/

.hero{
  height: 70vh;
  width: auto;
  background-image: url(/src/assets/img/backgroundImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  width: 30vh;
  height: auto;
  margin-top: 12%;
}

/*Nav - separador*/

nav{
  width: 100%;
}

.enlaces{
  width: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5%;
  margin: 0% 12%;
}

.enlaces li{
  list-style: none;
  display: inline-block;
  padding: 2% 1%;
  margin: 0 1%;
}

.enlaces .links{
  font-size: 110%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1vw;
}

.enlaces .links:hover{
  color: aliceblue;
  background-color:rgb(78, 9, 10, 0.5);
}

.enlaces .linksI{
  font-size: 100%;
  text-decoration: none;
  color: rgb(87, 87, 87);
}

.separadorNav{
  width: 80%;
  color: rgb(87, 87, 87);
  margin: 0 10%;
}

/*Footer*/

footer{
  padding: 0;
  margin:0;
  justify-content: center;
}


.cuerpoFooter{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.separadorRedes{
  width: 50%;
  color: rgb(87, 87, 87);
  margin: 1% 25% 5%;
}

.otros{
  width: 50%;
}

.otros li{
  list-style: none;
  display: inline-block;
  padding: 2% 4%;
  margin: 15% 0 0 0;
}

.otros .links{
  font-size: 100%;
  text-decoration: none;
  color: rgb(87, 87, 87);
}

.otros .links:hover{
  color: rgb(78, 9, 10);
}

/*Redes sociales*/

.redes{
  width: 50%;
}
.redes h2{
  margin: 5% 0;
  font-size: 100%;
  color: rgb(87, 87, 87);
}
.logoRedes{
  font-size: 250%;
  padding: 5%;
  cursor: pointer;
}
.logoRedes:hover{
  color: rgb(78, 9, 10);
}
.logoRedes{
  transition: color 0.2s linear 0.3s;
}



/*Cuerpo Home y cards*/

.bodyHome{
  width: 76%;
  justify-content: center;
  padding: 2%;
  margin: 0% 12%;
}

.tituloC{
  align-items: left;
  margin: 5% 0;
  font-size: 175%;
  color: rgb(51, 0, 1);
}

.contenedorCards{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  width: 230px;
  height: 300px;
  background: rgb(255, 255, 255);
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(209, 211, 201) 0.15em solid;
  margin: 0% 5%;
  }
.card:hover {
  border: #a2aa56 0.2em solid;
  transform: translateY(-15px);
  box-shadow: 0 20px 16px #00000015;
  }
.card .btnCard{
  background-color: rgb(51, 0, 1);
  border-color: rgb(51, 0, 1);
  border-radius: 15px;
  color: aliceblue;
  margin: 6%;
  padding: 3% 7%;
  text-decoration: none;
}
.card .btnCard:hover{
  background-color: rgb(88, 0, 1);
}
.card{
  transition: transform 0.2s linear 0.2s;
}
.imgCard{
  height: 50%;
  object-fit: cover;
}
.card h3{
  color: #4e090a;
  margin: 9% 4%;
}
.card p{
  color: rgb(131, 102, 102);
}


/*Nosotros y tecnologias*/

.nosotros{
  margin: 5% 0 0;
  width: 100%;
  border-radius: 15px;
  text-align: center;
}

.contenedorNosotros1{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.nosotros h2{
  font-size: 7vh;
  padding: 0 5% 2%;
  color: rgb(51, 0, 1);
}

.text1N{
  width: 60%;
}
.nosotros .text1N p{
  margin: 10%;
  padding:7% 10%;
  font-size: 4.3vh;
  color: rgb(112, 73, 73);
}
.img1N{
  width: 40%;
}
.img1N img{
  width: 90vh;
  object-fit: cover;
}


.contenedorNosotros2{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.text2N{
  width: 50%;
}
.text2N h2{
  margin: 10% 0 0;
  font-size: 4.5vh;
}
.text2N p{
  margin: 0;
  padding:7% 10% 7%;
  font-size: 4.5vh;
  color: rgb(112, 73, 73);
}
.img2N{
  width: 50%;
}
.img2N img{
  margin: 0 10% 0 0;
  width: 70vh;
  object-fit: cover;
}

.tecnologias{
  width: 80%;
  margin: 10% 10% 2%;
}

.tecnologias img{
  height: 10vh;
  margin: 0 5%;
  filter: grayscale(100%) brightness(90%);
}

.tecnologias img:hover{
  filter: grayscale(0) brightness(100%);
}

.tecnologias img{
  transition: filter 0.2s linear 0.3s;
}

/*Slider*/

.slider{
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin: 5% 0 2%;
}

.slider ul{
  display: flex;
  animation: cambio 15s infinite alternate linear;
  width: 400%;
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: saturate(150%) hue-rotate(45deg) blur(1px);
  filter: saturate(150%) blur(1px) brightness(70%);
}

@keyframes cambio{
  0%{margin-left: 0%;}
  20%{margin-left: 0%;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}

.slider .reserva{
  position: relative;
  bottom: 50vh;
}

.slider h2{
  color: aliceblue;
  margin: 1%;
}
.slider p{
  color: aliceblue;
  margin-bottom: 2%;
}
.slider .reserva li{
  list-style: none;
  display: inline-block;
}

.slider .reserva .links{
  background-color: rgb(51, 0, 1);
  color: aliceblue;
  padding: 1%;
  text-decoration: none;
}

.slider .reserva .links:hover{
  background-color: rgb(78, 9, 10);
}


/*Formularios - Contacto*/

.contenedorMainC{
  background-image: url(../src/assets/img/fondosForm/formu1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.formularioContact{
  height: 100vh;
  padding-top:13vh;
}
.formularioEmail{
  margin:0 33%;
  width: 21rem;
  height: 26rem;
  padding: 3%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.formularioEmail h2{
  font-size: 30px;
  color: rgb(78, 9, 10);
}

/*Formularios - Login*/

.contenedorMainL{
  background-image: url(../src/assets/img/fondosForm/fondoLogin.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.formularioLogin{
  height: 100vh;
  padding-top:13vh;
}
.formularioL{
  margin:0 35vw;
  width: 21rem;
  height: 23rem;
  padding: 3%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.formularioL h2{
  font-size: 30px;
  color: rgb(78, 9, 10);
  margin: 10% 0;
}
.formRegistro p{
  font-size: 15px;
}
.linkRegistro{
  font-size: 13px;
  color: #a32d2f;
  margin: 10% 2% 0;
}


/*Formularios - RegistroPersona*/

.contenedorMainRP{
  background-image: url(../src/assets/img/fondosForm/fondoRegistroP.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.formularioRegistro{
  height: 100vh;
  padding-top:13vh;
}
.formularioRP{
  margin:0 35vw;
  width: 21rem;
  height: 23rem;
  padding: 3%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.formularioL h2{
  font-size: 30px;
  color: rgb(78, 9, 10);
  margin: 10% 0;
}
.formRegistro p{
  font-size: 15px;
}
.linkRegistro{
  font-size: 13px;
  color: #a32d2f;
  margin: 10% 2% 0;
}

/*Formularios - RegistroEstablecimiento*/

.contenedorMainRE{
  background-image: url(../src/assets/img/fondosForm/fondoRegistroE.jpg);
  background-size: cover;
  width: 100%;
  height: 45rem;
}
.formularioRegistroE{
  height: 100vh;
  padding-top:10vh;
}
.formularioRE{
  margin:0 35%;
  width: 21rem;
  height: 28rem;
  padding: 3%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.formularioL h2{
  font-size: 30px;
  color: rgb(78, 9, 10);
  margin: 10% 0;
}
.formRegistro p{
  font-size: 15px;
}
.linkRegistro{
  font-size: 13px;
  color: #a32d2f;
  margin: 10% 2% 0;
}
.field{
  display: flex;
  flex-direction: row;
  margin: 7% 7% 0;
}
.field input{
  border-bottom: 1px solid rgb(43, 43, 43);
  width: 20%;
  height: 40px;
}
.field .checkR{
  border: none;
  border-bottom: 1px solid rgb(43, 43, 43);
  outline: none;
  height: 20px;
}
.field .nomCheckbox{
  font-size: 15px;
}




.fieldD{
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
}
.fieldD input{
  border: none;
  border-bottom: 1px solid rgb(43, 43, 43);
  outline: none;
  width: 100%;
  height: 40px;
}
.fieldD textarea{
  border: 1px solid #aaaaaa;
  outline: none;
  transition: all 200ms ease;
}
.fieldD label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: .5s;
}
.fieldD span::before{
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(139, 0, 2);
  transition: .5s;
}
.fieldD input:focus ~ label,
.fieldD input:valid ~ label{
  top: -4px;
  color: rgb(139, 0, 2);
}
.fieldD input:focus ~ span::before,
.fieldD input:valid ~ span::before{
  width: 100%;
}
.labelForm{
  margin: 0.1rem 0 0.1rem 0;
}
.btnEnviar{
  font-size: 15px;
  border: 1px;
  border-color: rgb(78, 9, 10);
  margin: 7% 0 5%;
  background-color: rgb(78, 9, 10);
  padding: 4%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.btnEnviar:hover{
  border-color: rgb(107, 0, 2);
  background-color: rgb(104, 0, 2);
}